.home {
  display: block;
}
.home-section {
  margin: 0;
  padding: 100px 0;
}
/*
.home-header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header-title{
  margin-top: -25px;
}

.home-header-hero h1{
  font-family: 'Avenir Next', 'Raleway', 'Lato', Avenir;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: white;
  font-size: 2.5rem;
}

.home-header-hero h3{
  text-transform: uppercase;
  font-size: .88rem;
  letter-spacing: .23em;
  font-weight: 200;
  padding-bottom: 43px;
  color: rgba(255, 255, 255, .9);
  font-family: 'Lato';
}*/
