.header{
  background-color: rgb(8,8,40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 /*moves div to top of page, behind navbar*/*/
  top: 0;
  height: 650px;
  text-align: center;
}


.header-title {
  font-family: 'Lato';
  color: rgba(255, 255, 255, .94);
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 200;
  margin: 30px 0 20px;
}

.header-subtitle {
  font-size: 1.05rem;
  letter-spacing: 1.2px;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 43px;
  color: rgba(255, 255, 255, .72);
}

.header-skills-list{
  text-align: center;
}

.header-skills-list li{
  display: inline-block;
  color: rgba(255, 255, 255, .8);
  letter-spacing: .7px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: .8rem;
}

/*bullet divider*/
.header-skills-list p{
    display: inline-block;
    color: rgba(255, 255, 255, .6);
    margin: 0 0.4em;
    margin: 0 15px;
    position: relative;
    top: -0.25em;
}
