
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 0;
}

.navbar-items-container {
  width: auto;
}

.navbar-item {
  display: inline-block;
  text-decoration: none;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: .72rem;
  letter-spacing: .09rem;
  color: rgba(0,0,0,.82);
  font-weight: 200;
  padding: 4px 0px 9px;
  margin: 0 25px;
}

.navbar-item-active {
  /*color: rgba(0, 0, 0, 1);*/
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: (0,0,0,.82);
  /*border-left: .8px solid rgba(0, 0, 0,.32);
  border-right: .8px solid rgba(0, 0, 0,.32);*/
}


@media screen and(max-width: 960px) {
  .navbar{
    width: 60vw;
  }
}
