.App {
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', 'Avenir Next', 'San Francisco', '-apple-system', 'BlinkMacSystemFont', '\.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
}

.App-content {
  display: block;
  margin: 0 auto;
}
